*.pyc
*.sw*
__pycache__
todo.txt
*.pdf
*.png
*.html

# data files
*.h5
*.dat
*.npy
*.mp4

# setup files
build
dist
*.egg-info

# material database
miepy/materials/database

# misc example folders
examples/fdtd_compare
examples/compare
examples/temp
examples/old
examples/time

# misc tests folders
examples/tests/fdtd_compare
examples/tests/monitor_radius
examples/tests/zero
examples/tests/absorption

# vscode
settings.json
tags

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
