include miepy/materials/database.zip
recursive-include miepy/materials/database *

include miepy/bin/*

include cpp/CMakeLists.txt
recursive-include cpp/pybind11 *
recursive-include cpp/src *

include miepy/tmatrix/nfmds/*.f90
include miepy/tmatrix/nfmds/makefile
